*, li, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

label,
input[type=radio],
button {
  cursor: pointer;
}

.cells-header.hide {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
  background: -moz-linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
}

.cells {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 80px);
}

.cells-header {
  border: 1px solid #9494df;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 350px;
}

.cells__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.cells-header__bg {
  height: 70%;
  margin-bottom: 30px;
  pointer-events: none;
}

.cell {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.cell.round {
  position: relative;
}

.cell.round::before {
  content: 'o';
  position: absolute;
  font-size: 30px;
  color: #23e123;
  left: 50%;
  top: 50%;
  text-align: center;
  align-content: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #affaaf;
}

.cell.cross {
  position: relative;
}

.cells__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 40%;
  text-transform: uppercase;
}

.cells__type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.cell.cross::before {
  content: 'x';
  position: absolute;
  font-size: 30px;
  color: red;
  left: 50%;
  top: 50%;
  text-align: center;
  align-content: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 168, 168);
}

.btn {
  border-radius: 10px;
  background-color: #fff;
  transition: all .3s;
  border: 1px solid #9494df;
  padding: 10px 0;
  text-transform: uppercase;
}

.btn-reset {
  border-radius: 10px;
  background-color: #e31313;
  transition: all .3s;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #9494df;
  color: #fff;
}

.screen-3 {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all .3s;
}

.screen-3_active {
  border: 1px solid #9494df;
  border-radius: 10px;
  padding: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 350px;
  height: auto;
}

.screen-3__output {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

.diplom {
  width: 100%;
}

.screen_active {
  display: block;
}

.screen-2 {
  display: none;
}

.screen-2_active {
  border: 1px solid #9494df;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 350px;
}

.text_green {
  color: #77DD77;
}

.text_red {
  color: #e31313;
}