*, li, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
  background: -moz-linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(46, 46, 208));
}

label,
input[type=radio],
button {
  cursor: pointer;
}